*.o
*.log
Makefile*
Makefile
E_Arm/Makefile
Makefile.*
*.Release
*.Debug
*.lnk
*.ilk
*.lib
*.pdb
*.res
*.obj
*.report
*.manifest
*.embed.manifest
*.exp
*.user
platform.pro
*.refref
*.autosave
PDB
MapService
*.user*
Regexlog.txt
*.rar
*.tar.gz
*/*.so
export_message.xml
*.*~
*.a
*.so.*
*.so
*.exe
*.rc
*.log
*.dump
*.temp
*.local
*.zip
c++
parser
parsercaller
*.7z
*.dll
ui_*.h
moc_*.cpp
qrc_*.cpp
boost/
build/
Libs/
*.cppcheck
TestProjects/
Bimap/
EXE_regex_manager/
EXE_resend_manager/
makes/
QxTest/
RouteWidget/
SeparateRepos/
E_MailerSetup/
E_RxManager/
mngrParser/
!UML/*
